textarea {
	resize: none;
	width: 100%;
	height: 100%;
}

.stuurTekst {
	width: 100px;
	height: 50px;
	text-align: center;
}

.closeAll {
	background-image: url('../images/close.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 25px 25px;
	height: 30px;
	width: 30px;
}

.boldText {
	background-image: url('../images/bold.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 25px 25px;
	height: 30px;
	width: 30px;
}

.editText {
	background-image: url('../images/edit.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 25px 25px;
	height: 30px;
	width: 30px;
}

.italicText {
	background-image: url('../images/italic.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 25px 25px;
	height: 30px;
	width: 30px;
}

.underlinedText {
	background-image: url('../images/underlined.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 25px 25px;
	height: 30px;
	width: 30px;
}

.stuurTekst {
	background-image: url('../images/send.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 110px 50px;
	height: 50px;
	width: 110px;
}

.linkPath {
	background-image: url('../images/link.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 25px 25px;
	height: 30px;
	width: 30px;
}

.getData {
	background-image: url('../images/retrieve.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 110px 50px;
	height: 50px;
	width: 110px;
}

.refresh {
	background-image: url('../images/refresh.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 25px 25px;
	height: 30px;
	width: 30px;
}

.refreshTooltip {
	overflow: hidden;
}

.years {
	width: 110px;
	height: 30px;
}

.months {
	width: 110px;
	height: 30px;
}

.commObjs {
	width: 226px;
	height: 30px;
	text-align: center;
}

.commIDs {
	width: 226px;
	height: 30px;
	text-align: center;
}